@font-face {
    font-family: feminineidea;
    src: url(../fontes/SunshineTropical.ttf);
}
@font-face {
    font-family: cursiva;
    src: url(../fontes/HelloValentina.ttf);
}
@font-face {
    font-family: paragrafos;

    src: url(../fontes/MasterFlash.otf);
}
.vagas-empregos{
    max-width: 700px;
    background-color: rgb(255, 249, 249);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.836);
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}

.vagas-empregos .paragrafo{
    text-align: center;
    margin-bottom: 40px;
    font-family: cursiva;
    font-size: 3em;
}

.card-vaga{
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    box-shadow:  1px 1px 10px black;    
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.card-vaga:hover{
    transform: scale(1.055);
}
.titulo-vaga{
    color: rgb(255, 4, 4);
    font-size: 1.1em;
}

.infos{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.desc-vaga{
    margin-top: 20px;
}
.extra{
    margin-left: auto;
    margin-right: 20px;
    color: blue;
}